/* title */
h1 {
  color: #4caf50;
  margin: 40px 5px;
  padding: 0;
}
/* css button */
#generate {
  background-color: #4caf50;
  color: rgb(231, 241, 229);
  padding: 15px 32px;
  font-size: 25px;
  cursor: pointer;
}
#generate:hover {
  background-color: #45a049;
}

body {
    font-family: system-ui;
    text-align: center;
}

#information {
    color: #1023ad;
    font-size: 20px;
}
